@import "tailwindcss";

:root {
  font-family: 'Lexend';
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body { overflow-x: hidden; }

body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

